n8n_workflow_example.json
{
  "name": "Telegram Bot для Dynamic Pricing",
  "nodes": [
    {
      "parameters": {},
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/telegram/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ { \"text\": $json.message.text, \"chat\": { \"id\": $json.message.chat.id }, \"from\": { \"id\": $json.message.from.id } } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-api",
      "name": "HTTP Request к FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.botToken }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-telegram",
      "name": "HTTP Request к Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request к FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request к FastAPI": {
      "main": [
        [
          {
            "node": "HTTP Request к Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}


