n8n_telegram_simple.json
{
  "name": "Telegram API Commands - Simple",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "credentials": {
        "telegramApi": {
          "id": "I8mNTuvUFq3COzyU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Jeden węzeł który robi wszystko: rozpoznaje komendę, wywołuje API, formatuje odpowiedź\nconst text = ($input.item.json.message?.text || '').trim();\nconst chatId = $input.item.json.message?.chat?.id;\nconst baseUrl = 'https://ozonscienceproject-production.up.railway.app';\n\n// Mapowanie komend\nconst commands = {\n  '/stats': { url: '/api/cache/stats', type: 'stats' },\n  '/cache': { url: '/api/cache/stats', type: 'stats' },\n  '/dashboard': { url: '/api/analytics/pricing-metrics?min_days_out_of_stock=15', type: 'dashboard' },\n  '/metrics': { url: '/api/analytics/pricing-metrics?min_days_out_of_stock=15', type: 'dashboard' },\n  '/products': { url: '/api/products?page=1&page_size=5', type: 'products' },\n  '/top': { url: '/api/analytics/demand/top?limit=10', type: 'top' },\n  '/outofstock': { url: '/api/analytics/stock/out-of-stock?min_days=30', type: 'outofstock' },\n  '/cache_clear': { url: '/api/cache/clear', type: 'cache_action', method: 'POST' },\n  '/cache_reload': { url: '/api/cache/reload', type: 'cache_action', method: 'POST' },\n  '/help': { url: null, type: 'help' }\n};\n\n// Sprawdź czy to komenda\nif (!text.startsWith('/')) {\n  return { json: { chatId, message: '❌ Отправьте команду, начинающуюся с /' } };\n}\n\nconst command = text.split(' ')[0].toLowerCase();\nconst cmdData = commands[command];\n\nif (!cmdData) {\n  return { \n    json: { \n      chatId, \n      message: '❌ Неизвестная команда. Используйте /help для списка команд.'\n    } \n  };\n}\n\n// Help\nif (cmdData.type === 'help') {\n  const helpText = `🤖 <b>Dynamic Pricing 1299$</b>\\n\\n` +\n    `Доступные команды:\\n\\n` +\n    `📊 <b>Дашборд</b>\\n` +\n    `/dashboard - Основные метрики\\n\\n` +\n    `📦 <b>Товары</b>\\n` +\n    `/products - Список товаров\\n` +\n    `/top - Топ товаров\\n\\n` +\n    `📈 <b>Аналитика</b>\\n` +\n    `/outofstock - Товары без остатка\\n` +\n    `/metrics - Метрики ценообразования\\n\\n` +\n    `🗄️ <b>Кэш</b>\\n` +\n    `/cache - Статистика кэша\\n` +\n    `/cache_clear - Очистить кэш\\n` +\n    `/cache_reload - Перезагрузить кэш\\n\\n` +\n    `❓ <b>Помощь</b>\\n` +\n    `/help - Этот список`;\n  \n  return { json: { chatId, message: helpText } };\n}\n\n// Wywołaj API\nlet apiResponse;\ntry {\n  const method = cmdData.method || 'GET';\n  const url = baseUrl + cmdData.url;\n  \n  if (method === 'POST') {\n    apiResponse = await $http.request({\n      method: 'POST',\n      url: url,\n      headers: { 'Content-Type': 'application/json' }\n    });\n  } else {\n    apiResponse = await $http.request({\n      method: 'GET',\n      url: url\n    });\n  }\n} catch (error) {\n  return { \n    json: { \n      chatId, \n      message: `❌ Ошибка при вызове API: ${error.message}`\n    } \n  };\n}\n\n// Formatuj odpowiedź\nlet message = '';\n\nswitch(cmdData.type) {\n  case 'stats':\n    message = `📊 <b>Статистика кэша</b>\\n\\n` +\n      `Товаров: ${apiResponse.total_products?.toLocaleString() || 0}\\n` +\n      `Файлов: ${apiResponse.files_loaded || 0}\\n` +\n      `Размер: ${apiResponse.cache_size_mb?.toFixed(2) || 0} МБ\\n` +\n      `Режим: ${apiResponse.using_mock_data ? 'Мок данные' : 'Реальные данные'}`;\n    break;\n    \n  case 'dashboard':\n    const metrics = apiResponse.metrics || [];\n    const highPriority = metrics.filter(m => m.priority_score >= 70).length;\n    const criticalStock = metrics.filter(m => m.days_out_of_stock > 30).length;\n    const highDemand = metrics.filter(m => m.demand_level === 'high').length;\n    \n    message = `📊 <b>Дашборд</b>\\n\\n` +\n      `🔴 Высокий приоритет: ${highPriority}\\n` +\n      `📦 Критичные остатки: ${criticalStock}\\n` +\n      `📈 Высокий спрос: ${highDemand}\\n` +\n      `📊 Всего метрик: ${metrics.length}`;\n    break;\n    \n  case 'products':\n    const products = apiResponse.products || [];\n    message = `📦 <b>Товары</b> (${apiResponse.total || 0} всего)\\n\\n`;\n    products.slice(0, 5).forEach((p, i) => {\n      message += `${i + 1}. ${p.name || p.product_name}\\n` +\n        `   ❤️ Избранное: ${p.favorites_count?.toLocaleString() || 0}\\n` +\n        `   📦 Дней нет: ${p.days_out_of_stock || '-'}\\n\\n`;\n    });\n    if (apiResponse.total > 5) {\n      message += `... и еще ${apiResponse.total - 5} товаров`;\n    }\n    break;\n    \n  case 'top':\n    const topProducts = Array.isArray(apiResponse) ? apiResponse : [];\n    message = `🏆 <b>Топ товаров</b>\\n\\n`;\n    topProducts.slice(0, 5).forEach((p, i) => {\n      message += `${i + 1}. ${p.product_name || p.name}\\n` +\n        `   ❤️ Избранное: ${p.favorites_count?.toLocaleString() || 0}\\n` +\n        `   🏅 Ранг: ${p.rank || i + 1}\\n\\n`;\n    });\n    break;\n    \n  case 'outofstock':\n    const outOfStock = Array.isArray(apiResponse) ? apiResponse : [];\n    message = `⚠️ <b>Товары без остатка</b> (${outOfStock.length})\\n\\n`;\n    outOfStock.slice(0, 5).forEach((p, i) => {\n      message += `${i + 1}. ${p.product_name || p.name}\\n` +\n        `   📦 Дней нет: ${p.days_out_of_stock || 0}\\n` +\n        `   ⭐ Приоритет: ${p.priority_score || 0}\\n\\n`;\n    });\n    if (outOfStock.length > 5) {\n      message += `... и еще ${outOfStock.length - 5} товаров`;\n    }\n    break;\n    \n  case 'cache_action':\n    message = apiResponse.message || `✅ Команда выполнена: ${command}`;\n    break;\n    \n  default:\n    message = JSON.stringify(apiResponse, null, 2);\n}\n\nreturn { json: { chatId, message } };"
      },
      "id": "handle-command",
      "name": "Handle Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "telegramApi": {
          "id": "I8mNTuvUFq3COzyU",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Handle Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Command": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

