n8n_competitor_prices_workflow.json
{
  "name": "Анализ цен конкурентов",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ozonscienceproject-production.up.railway.app/api/analytics/demand/top",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "limit",
                "value": "100"
              }
            ]
          },
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-top-products",
      "name": "Get Top Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ozonscienceproject-production.up.railway.app/api/analytics/demand/trends",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "group_by",
                "value": "category"
              }
            ]
          },
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-demand-trends",
      "name": "Get Demand Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Фильтруем товары с высоким спросом\nconst items = $input.all();\nconst products = items.map(item => item.json);\n\n// Если API возвращает массив напрямую\nconst productList = Array.isArray(products[0]) ? products[0] : products;\n\n// Фильтруем товары с favorites_count >= 5000\nlet highDemandProducts = productList.filter(product => {\n  return (product.favorites_count || 0) >= 5000;\n});\n\n// Если нет товаров с favorites_count >= 5000, берем топ 50 по спросу\nif (highDemandProducts.length === 0) {\n  console.log('Нет товаров с favorites_count >= 5000, беру топ 50 по спросу');\n  highDemandProducts = productList\n    .filter(p => (p.favorites_count || 0) > 0)\n    .sort((a, b) => (b.favorites_count || 0) - (a.favorites_count || 0))\n    .slice(0, 50);\n}\n\n// Сортируем по спросу\nhighDemandProducts.sort((a, b) => (b.favorites_count || 0) - (a.favorites_count || 0));\n\n// Берем топ 50\nconst topProducts = highDemandProducts.slice(0, 50);\n\nif (topProducts.length === 0) {\n  console.log('⚠️  Нет товаров для обработки');\n  // Возвращаем хотя бы один элемент с сообщением об ошибке\n  return [{\n    json: {\n      error: 'Нет товаров с достаточным спросом',\n      product_id: 'N/A',\n      product_name: 'Нет данных',\n      favorites_count: 0,\n      category: 'N/A',\n      brand: 'N/A'\n    }\n  }];\n}\n\nreturn topProducts.map(product => ({\n  json: {\n    product_id: product.product_id || product.id,\n    product_name: product.product_name || product.name,\n    favorites_count: product.favorites_count || 0,\n    category: product.category_level_1 || product.category,\n    brand: product.brand\n  }\n}));"
      },
      "id": "filter-high-demand",
      "name": "Filter High Demand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "ttl": 3600,
        "key": "competitor-prices-cache"
      },
      "id": "cache-competitor-prices",
      "name": "Cache Competitor Prices",
      "type": "n8n-nodes-base.cache",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ozonscienceproject-production.up.railway.app/api/analytics/competitor-prices",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "min_favorites",
                "value": "5000"
              },
              {
                "name": "limit",
                "value": "50"
              }
            ]
          },
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-competitor-prices",
      "name": "Get Competitor Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "ttl": 3600,
        "key": "competitor-prices-cache"
      },
      "id": "save-to-cache",
      "name": "Save to Cache",
      "type": "n8n-nodes-base.cache",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем данные о сравнении цен\nconst response = $input.item.json;\nconst comparisons = response.comparisons || [];\n\n// Фильтруем товары, где наша цена значительно отличается от конкурентов\nconst significantDiff = comparisons.filter(comp => {\n  const diff = Math.abs(comp.price_difference_percent || 0);\n  return diff > 10; // Разница более 10%\n});\n\n// Сортируем по приоритетности (высокий спрос + большая разница)\nconst demandScore = {'high': 3, 'medium': 2, 'low': 1};\nsignificantDiff.sort((a, b) => {\n  const scoreA = demandScore[a.demand_level] * 10 + Math.abs(a.price_difference_percent || 0);\n  const scoreB = demandScore[b.demand_level] * 10 + Math.abs(b.price_difference_percent || 0);\n  return scoreB - scoreA;\n});\n\nreturn significantDiff.map(comp => ({\n  json: comp\n}));"
      },
      "id": "filter-significant-diff",
      "name": "Filter Significant Price Differences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.price_difference_percent }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-expensive",
      "name": "Check If Too Expensive",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Анализируем цены и генерируем рекомендации\nconst items = $input.all();\nconst comparisons = items.map(item => item.json);\n\n// Группируем по категориям\nconst byCategory = {};\ncomparisons.forEach(comp => {\n  const category = comp.category_level_1 || 'Без категории';\n  if (!byCategory[category]) {\n    byCategory[category] = [];\n  }\n  byCategory[category].push(comp);\n});\n\n// Статистика\nconst totalProducts = comparisons.length;\nconst avgPriceDiff = comparisons.reduce((sum, c) => sum + (c.price_difference_percent || 0), 0) / totalProducts;\nconst tooExpensive = comparisons.filter(c => (c.price_difference_percent || 0) > 10).length;\nconst tooCheap = comparisons.filter(c => (c.price_difference_percent || 0) < -10).length;\n\nreturn [{\n  json: {\n    comparisons: comparisons,\n    total_products: totalProducts,\n    avg_price_difference: avgPriceDiff.toFixed(2),\n    too_expensive_count: tooExpensive,\n    too_cheap_count: tooCheap,\n    by_category: byCategory,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "analyze-prices",
      "name": "Analyze Price Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Рассчитываем оптимальные цены\nconst data = $input.item.json;\nconst comparisons = data.comparisons || [];\n\nconst recommendations = comparisons.map(comp => {\n  const ourPrice = comp.our_price || 0;\n  const avgCompetitor = comp.avg_competitor_price || 0;\n  const minCompetitor = comp.min_competitor_price || 0;\n  const maxCompetitor = comp.max_competitor_price || 0;\n  const priceDiff = comp.price_difference_percent || 0;\n  \n  // Рассчитываем оптимальную цену\n  let optimalPrice = avgCompetitor;\n  \n  // Если высокий спрос, можно быть немного выше средней цены\n  if (comp.demand_level === 'high') {\n    optimalPrice = avgCompetitor * 1.05; // +5% при высоком спросе\n  } else if (comp.demand_level === 'medium') {\n    optimalPrice = avgCompetitor * 1.0; // Средняя цена\n  } else {\n    optimalPrice = avgCompetitor * 0.95; // -5% при низком спросе\n  }\n  \n  // Ограничиваем диапазоном конкурентов\n  optimalPrice = Math.max(minCompetitor * 0.9, Math.min(maxCompetitor * 1.1, optimalPrice));\n  \n  const priceChange = optimalPrice - ourPrice;\n  const priceChangePercent = ((priceChange / ourPrice) * 100).toFixed(2);\n  \n  return {\n    json: {\n      product_id: comp.product_id,\n      product_name: comp.product_name,\n      brand: comp.brand,\n      category: comp.category_level_1,\n      current_price: ourPrice,\n      optimal_price: Math.round(optimalPrice),\n      price_change: Math.round(priceChange),\n      price_change_percent: priceChangePercent,\n      avg_competitor_price: avgCompetitor,\n      demand_level: comp.demand_level,\n      recommendation: comp.recommendation\n    }\n  };\n});\n\nreturn recommendations;"
      },
      "id": "calculate-optimal-prices",
      "name": "Calculate Optimal Prices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Форматируем данные для отчета\nconst items = $input.all();\nconst recommendations = items.map(item => item.json);\n\nlet message = `💰 <b>АНАЛИЗ ЦЕН КОНКУРЕНТОВ</b>\\n\\n`;\nmessage += `📅 Дата: ${new Date().toLocaleString('ru-RU')}\\n`;\nmessage += `📊 Всего товаров проанализировано: ${recommendations.length}\\n\\n`;\nmessage += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n// Показываем топ 10 рекомендаций\nconst topRecommendations = recommendations.slice(0, 10);\ntopRecommendations.forEach((rec, index) => {\n  const changeIcon = parseFloat(rec.price_change_percent) > 0 ? '📈' : '📉';\n  const demandIcon = rec.demand_level === 'high' ? '🔥' : rec.demand_level === 'medium' ? '⚡' : '📊';\n  \n  message += `${index + 1}. ${demandIcon} <b>${rec.product_name}</b>\\n`;\n  message += `   🏷️ Бренд: ${rec.brand || 'Без бренда'}\\n`;\n  message += `   📦 Категория: ${rec.category || 'Не указана'}\\n`;\n  message += `   💵 Текущая цена: <s>${rec.current_price}₽</s>\\n`;\n  message += `   ${changeIcon} Оптимальная цена: <b>${rec.optimal_price}₽</b>\\n`;\n  message += `   📊 Изменение: ${rec.price_change > 0 ? '+' : ''}${rec.price_change}₽ (${rec.price_change_percent > 0 ? '+' : ''}${rec.price_change_percent}%)\\n`;\n  message += `   📈 Средняя цена конкурентов: ${rec.avg_competitor_price.toFixed(2)}₽\\n`;\n  message += `   💡 ${rec.recommendation}\\n\\n`;\n});\n\nif (recommendations.length > 10) {\n  message += `\\n... и еще ${recommendations.length - 10} товаров\\n`;\n}\n\nmessage += `\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `💡 <i>Рекомендуется обновить цены для конкурентоспособности</i>`;\n\nreturn [{\n  json: {\n    formatted_message: message,\n    html_message: message.replace(/\\n/g, '<br>'),\n    total_products: recommendations.length,\n    recommendations: recommendations,\n    summary: {\n      avg_price_change: (recommendations.reduce((sum, r) => sum + parseFloat(r.price_change_percent || 0), 0) / recommendations.length).toFixed(2)\n    }\n  }\n}];"
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.formatted_message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Красивый вывод для просмотра в n8n\nconst data = $input.item.json;\nconst recommendations = data.recommendations || [];\n\nlet output = `💰 АНАЛИЗ ЦЕН КОНКУРЕНТОВ\\n\\n`;\noutput += `📊 Статистика:\\n`;\noutput += `   • Всего товаров: ${data.total_products}\\n`;\noutput += `   • Среднее изменение цены: ${data.summary.avg_price_change}%\\n\\n`;\noutput += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\nrecommendations.slice(0, 20).forEach((rec, index) => {\n  output += `${index + 1}. ${rec.product_name}\\n`;\n  output += `   Текущая: ${rec.current_price}₽ → Оптимальная: ${rec.optimal_price}₽ (${rec.price_change_percent > 0 ? '+' : ''}${rec.price_change_percent}%)\\n\\n`;\n});\n\nreturn [{\n  json: {\n    \"💰 Анализ цен конкурентов\": output,\n    \"Всего товаров\": data.total_products,\n    \"Среднее изменение\": `${data.summary.avg_price_change}%`,\n    \"Рекомендации\": recommendations.map(r => ({\n      \"Товар\": r.product_name,\n      \"Текущая цена\": `${r.current_price}₽`,\n      \"Оптимальная цена\": `${r.optimal_price}₽`,\n      \"Изменение\": `${r.price_change_percent > 0 ? '+' : ''}${r.price_change_percent}%`,\n      \"Рекомендация\": r.recommendation\n    }))\n  }\n}];"
      },
      "id": "beautiful-output",
      "name": "Beautiful Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Top Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Products": {
      "main": [
        [
          {
            "node": "Get Demand Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Demand Trends": {
      "main": [
        [
          {
            "node": "Filter High Demand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High Demand": {
      "main": [
        [
          {
            "node": "Cache Competitor Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Competitor Prices": {
      "main": [
        [
          {
            "node": "Get Competitor Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Significant Price Differences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Competitor Prices": {
      "main": [
        [
          {
            "node": "Save to Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Cache": {
      "main": [
        [
          {
            "node": "Filter Significant Price Differences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Significant Price Differences": {
      "main": [
        [
          {
            "node": "Check If Too Expensive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Too Expensive": {
      "main": [
        [
          {
            "node": "Analyze Price Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Price Data": {
      "main": [
        [
          {
            "node": "Calculate Optimal Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Optimal Prices": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Beautiful Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
